@font-face
{
    font-family: 'webfont';

    src: url('//at.alicdn.com/t/93vvugp9ohpeewmi.eot'); /* IE9*/
    src: url('//at.alicdn.com/t/93vvugp9ohpeewmi.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('//at.alicdn.com/t/93vvugp9ohpeewmi.woff') format('woff'), /* chrome、firefox */
    url('//at.alicdn.com/t/93vvugp9ohpeewmi.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('//at.alicdn.com/t/93vvugp9ohpeewmi.svg#思源黑体-粗') format('svg'); /* iOS 4.1- */
}

*
{
    margin: 0;
    padding: 0;
}
body,html
{
    overflow: hidden;
}

a
{
    text-decoration: none;
}


.main::webkit-scrollbar
{
    display: none;
}
body::webkit-scrollbar
{
    display: none;
}


.nav
{
    position: fixed;
    z-index: 100;
    top: 0;

    width: 100%;
    height: 40px;

    background: rgba(0,0,0,.8);
}

.main
{
    overflow: hidden;
    /*margin-top: 40px;*/

    width: 100%;

    transition: all .3s;
    transform: translateY(0px);
}

.part
{
    /*  border-style: inset;*/
    position: relative;

    display: flex;
    /*top: -10px;*/

    box-sizing: border-box;
    width: inherit;
    height: 100%;

    transition: top ease-in-out .5s,
    opacity ease-in-out .7s;

    opacity: 1;

    justify-content: center;
}

.hid
{
    top: 30px;

    opacity: 0;
}

#pic
{
    position: relative;
    top: 20px;

    display: block;

    width: 200px;
    height: 200px;
    margin: 10px auto;

    border-radius: 50%;
}

#detail
{
    position: absolute;

    margin: 3px auto;

    align-self: flex-end;
}

#detail > h2
{
    text-align: center;
}

#detail > p
{
    text-align: center;
}

#conn
{
    width: 400px;
    height: 300px;

    align-self: center;
}

#conn div
{
    width: 100%;
    height: 33%;
    margin-left: 50px;
}

#conn div span
{
    position: relative;
    top: -25px;
    left: 40px;
}






.p-one
{
    /*background: blue;*/
}

/*#detail > span:after{
   content: '----------->';
}*/

.p-two
{
    
}

.p-three
{
    background: gray;
}







@media screen and (min-width:500px){


.list
{
    position: absolute;
    top: 10px;
    right: 10px;
}

.list > ul
{
    width: 100%;
    height: 100%;
}

.l
{

    font-size: 18px;

    right: 0;

    display: inline-block;

    margin-right: 30px;

    color: white;

    cursor: pointer;
}



.member
{
    position: relative;
    width: 40px;
}

.show{
    display: none;
}

#skill{
    width: 100%;
    height: 400px;
    display: flex;
    align-self: center;
    flex-wrap:wrap;
}

#skill >p{
    font-family: cursive;
    flex:1;
    align-self:center;
}

}
















@media all and (min-width:0px) and (max-width:499px){
 .list
{
    height: 100%;
    width: 100%;
    
}

#nali
{
    width: 100%;
    overflow: hidden;
    background: rgba(5,5,5,.6);
    position: relative;
   
    height: 0px;
    transition: all 0.3s;
    top: 8px;
}

#nali .on
{
    width: 100%;
    overflow: hidden;
    background: rgba(5,5,5,.6);
    position: relative;
   
    height: 180px;

}

.l
{

    font-size: 18px;

    right: 0;

    display: inline-block;

    margin-right: 30px;

    color: white;

        text-align: center;
    height: 50px;
    margin-top: 15px;
}

.member
{
    position: relative;
    width: 40px;
    display: none;
}

.show {
    display: inline-block;
    float: right;
}

#skill{
    width: 100%;
    height: 400px;
    display: flex;
    align-self: center;
    flex-wrap:wrap;
    flex-direction:column;
}

#skill >p{
    font-family: cursive;
    flex:1;
    text-align: center;
}
 
}